/app/build
/app/google-services.json
/fastlane/metadata
/fastlane/service_account.json
/fastlane/README.md
/fastlane/report.xml
/functions/admin.json
/gradle
/upload
/.gradle
/.idea
database-debug.log
database-rules.json
firebase.json
local.properties
ui-debug.log
.firebaserc
*.iml