*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
firebase-debug.log
ui-debug.log
database-debug.log
/upload
/fastlane/service_account_key.json