/app/build
/app/google-services.json
/fastlane/service_account.json
/functions/admin.json
/gradle
/upload
/.gradle
/.idea

database-debug.log
database-rules.json
firebase.json

local.properties
ui-debug.log
.firebaserc

*.iml